*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    text-transform: none;
    background-color: blue;
    width: 100%;
    min-height: 100%;
}

header {
    position: fixed;
    width: 100%;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding: 40px;
    z-index: 100000;  
    height: 3vh;                                                  
}

header.sticky {
    padding: 25px 50px;
    background: rgb(235, 235, 235);
}

img{
    width: 200px;
    height: auto;
    margin-top: 0px;
    margin-left: 50px;
}

header ul, footer ul, footer .social-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100px;
    text-transform: uppercase;
}

header ul li, footer ul li {
    position: relative;
    list-style: none;
}

header ul li a, footer ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
    font-weight: 400px;
    transition: 0.6s;
    font-size: 12px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: -850px;
    height: 30vh;
    background: rgb(235, 235, 235);
}

footer ul {
    margin-left: 1100px;
}

footer .social-media {
    margin-left: 1350px;
    top: 70px;
    color: black;
}

footer .social-media a {
    font-size: 30px;
    color: inherit;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

footer .social-media a:hover{
    color: blue;
}

.banner {
    position: fixed;
    width: 100%;
    background-image: url(../img/bckgrd.png);
    background-size: cover;
    min-height: 110%;
}

.home-opacity {
    position: absolute;
    opacity: 40%;
    background-color: gray;
    height: 100vh;
    width: 100% ;
    top: 0;
}

.tagline h2 {
    position: absolute;
    padding-top: 25%;
    margin: 20px 180px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(240, 240, 240);
    letter-spacing: 5px;
    word-spacing: 2px;
    text-transform: uppercase;
    margin-top: -20px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #000;
}

header .cool-link a:hover{
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.cool-link .active{
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.event {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #e2dfdf;
    top: 695px;
}

footer  h2 {
    font-family: 'Segoe Print', 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: -15px;
    letter-spacing: 1px;
}

footer  h3 {
    font-family: 'Century Gothic', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 2px;
    letter-spacing: 1.5px;
}

footer h2, footer h3 {
    margin-left: 80px;
}

.event, .jonathans {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.event h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 4px;
}

.event hr {
    max-width: 50px;
    border-color: black;
    border-width: 1px;
    margin-left: 650px;   
    margin-top: 20px;
}

.jonathans {
    width: 70%;
    height: 40vh;
    position: absolute;
    margin-top: 80px;
    left: 210px;
    font-family: 'Segoe UI', 'Arial' sans-serif;
    letter-spacing: 1px;
}

.image img {
    width: 45%;
    height: 25vh;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    right: 0px;
}

.image {
    margin-top: -270px;
}



.jonathans hr {
    max-width: 450px;
    border-width: 0.5px;
    border-color: #ddd;
    border-top: 1px solid rgb(197, 192, 192);
    margin: 0;
}

.jonathans h4 {
    color: inherit;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Calibri Light';
}

.jonathans .breakable {
    font-size: 15px;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 10px;
    font-family: 'calibri light';
    text-align: justify;
    width: 45%;
    margin-bottom: 20px;
}

.jonathans .info p {
    font-size: 15px;
    word-wrap: break-word;
    line-height: 1.5;
    font-family: 'calibri light';
    text-align: justify;
    width: 45%;
}

.jonathans .info .location {
    margin-top: 3px;
    margin-bottom: 30px;
}

.jonathans .info .date {
    margin-top: 10px;
}